.dashboard-container {
  background-color: #f8f9fa;
}

.sidebar {
  min-height: 100vh;
}

.sidebar li:hover {
  background-color: white !important;
  color: #0d6efd !important;
  cursor: pointer;
}

.content-placeholder {
  min-height: 300px;
  background-color: white;
}
